html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Akaya Telivigala', cursive;
  background: linear-gradient(90deg,#e3ffe7,#d9e7ff);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
